# Web Scraping Panel Harga Pangan Dynamic Table with Selenium

In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
import pandas as pd

# Set up Selenium WebDriver
chrome_options = Options()
chrome_options.add_argument("--headless")  # Run in headless mode (no browser window)
service = Service('chromedriver-mac-x64/chromedriver') # path
driver = webdriver.Chrome(service=service, options=chrome_options)

In [2]:
# Fetch the webpage
driver.get('https://panelharga.badanpangan.go.id/harga-grosir')

# Locate the table
table = driver.find_element(By.ID, 'tabelharga-table')
print(table)

<selenium.webdriver.remote.webelement.WebElement (session="58e7d24bfdfeb8dd37c092fb0d6838a2", element="f.D00E4E75F7D0970B3C608D50126626F2.d.63F6DAAB1F8D857817DB7717F4EE5591.e.90")>

In [3]:
header_elements = driver.find_elements(By.XPATH, '//thead/tr/th')

# Extract the text from each header element
headers = [header.text for header in header_elements]

# Print the extracted headers
print(headers)

['Komoditas (Rp)', '02/08/2024', '03/08/2024', '04/08/2024', '05/08/2024', '06/08/2024', '07/08/2024', '08/08/2024', '09/08/2024']

In [4]:
# Find all the rows within tbody
rows = driver.find_elements(By.XPATH, '//tbody/tr')

for row in rows:
    cells = row.find_elements(By.TAG_NAME, 'td')
    cell_texts = [cell.text for cell in cells]
    print(cell_texts)

['Beras Premium', '14.000', '14.000', '14.000', '14.000', '14.000', '14.000', '14.000', '14.000']
['Beras Medium', '13.000', '13.000', '13.000', '13.000', '13.000', '13.000', '13.000', '13.000']
['Kedelai Biji Kering (Impor)', '11.000', '11.000', '11.000', '11.000', '11.000', '11.000', '11.000', '11.000']
['Bawang Merah', '26.000', '28.000', '28.000', '28.000', '28.000', '28.000', '28.000', '28.000']
['Bawang Putih Bonggol', '32.000', '32.000', '32.000', '32.000', '34.000', '32.000', '32.000', '32.000']
['Cabai Merah Keriting', '20.000', '20.000', '20.000', '28.000', '28.000', '24.000', '36.000', '36.000']
['Daging Ayam Ras', '30.000', '30.000', '30.000', '30.000', '30.000', '30.000', '30.000', '30.000']
['Telur Ayam Ras', '24.000', '24.000', '24.000', '24.000', '24.000', '24.000', '24.000', '24.000']
['Gula Konsumsi', '15.000', '15.000', '15.000', '15.000', '15.000', '15.000', '15.000', '15.000']
['Minyak Goreng Kemasan Sederhana', '16.000', '16.000', '16.000', '16.000', '16.000', '16.000', '16.000', '16.000']

In [5]:
data = []
for row in rows:
    cells = row.find_elements(By.TAG_NAME, 'td')
    row_data = [cell.text for cell in cells]
    data.append(row_data)
df = pd.DataFrame(data, columns=headers)

In [6]:
df.head()

,Komoditas (Rp),02/08/2024,03/08/2024,04/08/2024,05/08/2024,06/08/2024,07/08/2024,08/08/2024,09/08/2024
0,Beras Premium,14.000,14.000,14.000,14.000,14.000,14.000,14.000,14.000
1,Beras Medium,13.000,13.000,13.000,13.000,13.000,13.000,13.000,13.000
2,Kedelai Biji Kering (Impor),11.000,11.000,11.000,11.000,11.000,11.000,11.000,11.000
3,Bawang Merah,26.000,28.000,28.000,28.000,28.000,28.000,28.000,28.000
4,Bawang Putih Bonggol,32.000,32.000,32.000,32.000,34.000,32.000,32.000,32.000

In [7]:
df.to_csv('data_grosir.csv', index=False)

In [8]:
driver.quit()

## Scrape Filtered Dynamic Tables

In [10]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
import pandas as pd

# Set up Selenium WebDriver
chrome_options = Options()
chrome_options.add_argument("--headless")  # Run in headless mode (no browser window)
service = Service('chromedriver-mac-x64/chromedriver') # path
driver = webdriver.Chrome(service=service, options=chrome_options)

In [13]:
# Fetch the webpage
driver.get('https://panelharga.badanpangan.go.id/harga-grosir')

In [16]:
element = driver.find_element(By.ID, 'provinsi-select')
driver.execute_script("arguments[0].click();", element)

In [24]:
province_dict = {'Sumatera Utara':'2', 'Sumatera Barat':'3', 'Riau': '4', 'Jambi':'5'}

In [28]:
selected_province = driver.find_element(By.XPATH, '//option[@value="16"]')  # 16: Banten Value
selected_province.click()

In [22]:
# Find all the rows within tbody
rows = driver.find_elements(By.XPATH, '//tbody/tr')

data = []
for row in rows:
    cells = row.find_elements(By.TAG_NAME, 'td')
    row_data = [cell.text for cell in cells]
    data.append(row_data)
df = pd.DataFrame(data, columns=headers)

In [25]:
df.head()

,Komoditas (Rp),02/08/2024,03/08/2024,04/08/2024,05/08/2024,06/08/2024,07/08/2024,08/08/2024,09/08/2024
0,Beras Premium,14.240,13.890,13.770,13.810,13.840,13.670,14.000,13.820
1,Beras Medium,12.230,11.980,11.950,11.950,11.960,12.130,12.110,12.050
2,Kedelai Biji Kering (Impor),11.250,10.950,11.310,10.940,10.590,11.210,10.560,11.260
3,Bawang Merah,19.060,19.660,21.220,19.580,18.590,21.480,19.870,21.330
4,Bawang Putih Bonggol,33.390,32.660,33.060,33.200,32.100,32.900,33.230,32.660